<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Gum</string>
		<key>desc</key>
		<string>Gum in fruits flavor</string>
		<key>price</key>
		<integer>5</integer>
		<key>url</key>
		<string>https://i.ytimg.com/vi/sEqv4LjTGLA/maxresdefault.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bleach</string>
		<key>desc</key>
		<string>To clean up the gum</string>
		<key>price</key>
		<real>10.9</real>
		<key>url</key>
		<string>http://kkitchens.com/Handlers/ImageHandler.ashx?im=30966.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beer</string>
		<key>desc</key>
		<string>White Beer, 5.6% alchohol</string>
		<key>price</key>
		<integer>7</integer>
		<key>url</key>
		<string>https://365beers.files.wordpress.com/2010/11/weihenstephaner-hefe-weissbier.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>peanuts</string>
		<key>desc</key>
		<string>goes well with beer</string>
		<key>price</key>
		<real>2.5</real>
		<key>url</key>
		<string>https://nuts.com/images/auto/801x534/assets/1a8f816738ffc617.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A4 Paper Pack</string>
		<key>desc</key>
		<string>Good for printer, scanner, fax, and toilet</string>
		<key>price</key>
		<integer>20</integer>
		<key>url</key>
		<string>https://sc01.alicdn.com/kf/UT8hVvwXRNXXXagOFbXI/Wholesale-Cheap-100-Copy-Paper-a4-80gsm.jpg</string>
	</dict>
</array>
</plist>
